# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django-related files
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
media/
*.env

# Virtualenv-related files
.env/
venv/
env/
*.env

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/
*.tar.gz

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Render/Deployment files
*.pid
*.log
staticfiles/
*.sqlite3

# HTMX-related files (if any)
*.htmx

# Other system files
.DS_Store
Thumbs.db
